{% load static %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Room Traders</title>
<meta name="description" content="">
  
<!--Icons -->
    <!-- Make iOS icon 152x152 -->
    <link rel="apple-touch-icon" href="#">
    <!-- Make Shortcut icon 32x32 -->
    <link rel="shortcut icon" href="#">

    
<!-- Needed for RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
<!-- Styles -->
	<link href="/static/css/flexboxgrid.min.css" rel="stylesheet">
    <link href="/static/css/roomtraders.css" rel="stylesheet">
    <style type="text/css">
         
    </style>
    
    
<!-- jQuery Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    
		});
    </script>

</head>

<body>   
<div class="container-fluid">

<!-- this is the logo in the heading -->
<div class="row">
	<div class="col-xs-3">
    	<div class="logo">
    	<a href="/"><img src="/static/images/roomtraderslogo.png"></a>
        </div>
    </div>    

<!-- this is the text "Roomtraders" in the heading -->    
    <div class="col-xs-6">
    	<div class="heading">
    		<h1>Students Only</h1>
         </div>
    </div>
    
<!-- this is the login button in the heading -->    
    <div class="col-xs-3">
    	<div class="login">
    		<a href="unl_login.html" class="button">UNL Login</a>
        </div>    
    </div>
</div><!-- this closes the row -->   

<!-- this is the top navigation bar -->
<div class="row">
	<div class="col-md-12">
    </div>
</div><!-- this closes the row --> 

<!-- this would be the "mega dropdown" menu for the search bar. We couldn't figure out how to do a mega dropdown so we are just using this for now -->
<div class="row">
	<div class="col-md-12">
        <div class="nav">
          <ul>
            <li class="price"><a href="http://127.0.0.1:8000/post-your-listing/">Post Your Listing</a></li>
            <li class="price"><a href="http://127.0.0.1:8000/post-your-review/">Post Your Review</a></li>
           </ul>
        </div>
    </div>
</div><!-- this closes the row --> 
{% block content %}{% endblock %}
</div><!--close container --> 
</body>
</html>