{% extends "base.html" %}

{% block content %}

<h1>{{ building.name }}</h1>

<div class="row">
	<div class="col-xs-12" style="background-color:white;">
    	<div class="photobuilding">
        	<a href="{{ building.get_absolute_url }}"><img src="/static/images/house1.jpg"></a>
        </div>
    	<div class="info">
            <h4>{{ building.distanceToCity }} to city campus</h4>
            <p>{{ building.address }}</p>
            <p>{{ building.rating }} stars</p>
            <p>{{ building.contactInfo }}</p>
        </div>
    </div>
</div><!-- this closes the row --> 

{%endblock%}
